# Include markdown as detectable language
*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true
docs/* linguist-documentation=false

# Include maven files as detectable language
*.xml linguist-detectable

# Include config files as detectable language
*.yml linguist-detectable
*.yaml linguist-detectable